/* reset */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
    line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}



/* end of reset */

body {
    /*font-family: Verdana;*/
    font-family: "Segoe UI";
    background-image: linear-gradient(45deg, #333333, #666666);
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.centered{
    position: absolute;
    left:50%;
    top:50%;
    transform: translate(-50%, -50%);
    text-align: center;
    text-overflow:inherit;
    overflow: inherit;
}

h6 {
    color:white;
    padding:2vh;
    font-size: 3vh;
}

textarea{
    font-family: "Segoe UI";
    border:none;
    padding:none;
    margin:none;
    outline:none;
    background-color: #222222;
    background-color: white;
    color: black;
    font-size: 3vh;
    resize: none;
}

/* tooltips */

/* Tooltip container */
.tooltip {
    border-bottom: 1px dotted black; /* If you want dots under the hoverable text */
    border-top: 1px dotted black;
  }
  
  /* Tooltip text */
  .tooltip .tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: black;
    color: #fff;
    text-align: center;
    padding: 5px 0;
    border-radius: 6px;
   
    /* Position the tooltip text - see examples below! */
    position: absolute;
    z-index: 1;

    top: -5px;
    right: 105%;
  }
  
  /* Show the tooltip text when you mouse over the tooltip container */
  .tooltip:hover .tooltiptext {
    visibility: visible;
    

  }

/* end tooltips */


#user_menu{
    position:fixed;
    width:calc(50vw - 50vh);
    left:0;
    height:100vh;
    top:0;
    background-color:transparent;
    overflow-y: scroll;
}

.username_password_entry{
    position:relative;
    margin-top:20px;
    margin-bottom:20px;
    left:10%;
    width:80%;
    height:auto;
    background-color:grey;
    text-align: center;
}

.username_password_textarea{
    position:relative;
    left: 0%;
    width:90%;
    margin-top: 5px;
    margin-bottom: 5px;
}

#user_create_menu{
}

#user_create_username{
}

#user_create_password{
}

#user_login_menu{
}

#user_login_username{
}

#user_login_password{
}

#room_join_menu{
}

#user_room_list{
    position: relative;
    margin-top:10px;
    margin-bottom:10px;
    height:100%;
    left:10%;
    width:80%;
    overflow-y: scroll;
    background-color:grey;
}

#room_header{
    position: absolute;
    height: 20%;
    width: 100%;
    top:0%;
    left:0%;
    background-color: black;
}

#room_switch_text_area{
    position: absolute;
    top:0%;
    left:0%;
    width:30%;
    height:50%;
}

#room_switch_password{
    position: absolute;
    bottom:0%;
    left:0%;
    width:30%;
    height:40%;
}

#room_create_name{

}

#access_by_url_div{
    position: relative;
    text-align: left;
}

#access_by_url_div.h6{
    position: relative;
}

#access_by_password_div{
    position: relative;
    text-align: left;
}

#access_by_password_div.h6{
    position: relative;
}

#access_by_url_checkbox_container{
    position: absolute;
    right:0%;
    top:50%;
    transform: translateY(-50%);
}


#access_by_password_checkbox_container{
    position: absolute;
    right:0%;
    top:50%;
    transform: translateY(-50%);
}

#room_create_password{

}

#room_create_enter{
    position: relative;
    height: auto;
    width:100%;
    left:0%;
    background-color: darkgrey;
    cursor: pointer;
}

#room_menu{
    position: fixed;
    right:0;
    width: calc(50vw - 50vh);
    top:0;
    height:100vh;
    background-color: transparent;
    overflow: scroll-y;

    z-index: 1;
}

#room_add_user_div{
}

#room_add_user{
}

#messages {
    position: absolute;
    width:100%;
    height:80%;
    top:0%;
    left:0%;
    background-color: #333333;
    display:table;

    z-index: 0;
    /*
    -moz-transform:rotate(180deg);
    -webkit-transform:rotate(180deg);
    -ms-transform:rotate(180deg);
    */
}

#messages_container {
    display:table-cell;
    vertical-align:bottom;
}

#messages_container2 {
    position: absolute;
    top: 0;
    height: 100%;
    left: 0;
    width: 100%;
    overflow-y: auto;
}

.message {
    position:relative;
    background-color:lightpink;
    margin:10px;
    /*
    -moz-transform:rotate(180deg);
    -webkit-transform:rotate(180deg);
    -ms-transform:rotate(180deg);
    */
}

.message_play_button {
    position: absolute;
    height:100%;
    width:20%;
    top:0%;
    right:0%;
    background-color: hotpink;
    background-image: url(../img/play.png);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}

#input {
    position: absolute;
    width:100%;
    height:20%;
    bottom:0%;
    left:0%;
    background-color: red;
}

#input_text_field{
    position: absolute;
    top: 25%;
    left:25%;
    width:50%;
    height:50%;
    background-color: white;
    font-size: 3vh;
    resize: none;
    color: black;
}